<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['']">
          <img src="assets/img/logo/fbm_logo.png" class="img-fluid" style="max-height:24px"><span>FBM</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cat']" routerLinkActive="text-white">Categories</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/recipe']" routerLinkActive="text-white" class="nav-link">Random Meal</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/meal']" routerLinkActive="text-white" class="nav-link">Meals Details</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o" style="font-size:22px" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['login']">Login</a>
                <a class="dropdown-item" [routerLink]="['register']" >Register</a>
              </div>
            </li>
          </ul>
        </div>
  </div>
</nav>