<div class="container">
  <div class="row" *ngFor="let meal of meal">
    <div class="col-md-6">
      <img src="{{meal.strMealThumb}}" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-6 bg-faded pt-3" style="background-color: rgb(255, 204, 162)">
      <h3>{{meal.strMeal}}</h3>
      Category: <a href="cat.html" class="text-success">{{meal.strCategory}}</a> Area: <a href="strArea.html" class="text-info">{{meal.strArea}}</a>
      <p class="text-left">
        {{meal.strInstructions}}
      </p>
      <div>
        <h4>Tags</h4>
        <a *ngIf="(meal.strTags!=null)" href="#" class="alert-success alert p-1 alert-link">{{meal.strTags}}</a>
        <h4>Source</h4>
        <a *ngIf="(meal.strSource!=null)" href="{{meal.strSource}}" class="alert-success alert p-1 alert-link">{{meal.strSource}}</a>
        <h4>Video</h4>
        <a *ngIf="(meal.strSource!='')" href="{{meal.strYoutube}}" class="alert-danger alert p-1 alert-link"><i class="fa fa-2x fa-youtube"></i></a>
      </div>
      <!-- <iframe width="560" height="315" src="{{meal.strYoutube}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    </div>
  </div>
</div>