<div class="container">
  <div class="row" *ngFor="let meal of meal">
    <div class="col-md-6">
      <img src="{{meal.strMealThumb}}" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 bg-faded">
      <h3>{{meal.strMeal}}</h3>
      Category: <a href="cat.html" class="text-success">{{meal.strCategory}}</a> Area: <a href="strArea.html" class="text-warning">{{meal.strArea}}</a>
      <p class="text-left">
        {{meal.strInstructions}}
      </p>
      <div>
        <h4>Tags</h4>
        <a *ngIf="(meal.strTags!=null)" href="#" class="alert-success alert p-1 alert-link">{{meal.strTags}}</a>
        <h4>Source</h4>
        <a *ngIf="(meal.strSource!=null)" href="{{meal.strSource}}" class="alert-success alert p-1 alert-link">{{meal.strSource}}</a>
      </div>
      <iframe width="560" height="315" src="{{meal.strYoutube}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- strIngredient1: "Chicken"
strIngredient2: "Butter"
strIngredient3: "Olive Oil"
strIngredient4: "Red Onions"
strIngredient5: "Red Pepper"
strIngredient6: "Chorizo"
strIngredient7: "Sun-Dried Tomatoes"
strIngredient8: "Garlic"
strIngredient9: "Basmati Rice"
strIngredient10: "Tomato Puree"
strIngredient11: "Paprika"
strIngredient12: "Bay Leaves"
strIngredient13: "Thyme"
strIngredient14: "Chicken Stock"
strIngredient15: "Dry White Wine"
strIngredient16: "Lemons"
strIngredient17: "Black Olives"
strIngredient18: "Salt"
strIngredient19: "Pepper"
strIngredient20: ""
strInstructions: "Preheat the oven to 180°C/Gas mark 4. Have the chicken joints ready to cook. Heat the butter and 3 tbsp olive oil in a flameproof casserole or large frying pan. Brown the chicken pieces in batches on both sides, seasoning them with salt and pepper as you go. Don't crowd the pan - fry the chicken in small batches, removing the pieces to kitchen paper as they are done.
↵
↵Add a little more olive oil to the casserole and fry the onions over a medium heat for 10 minutes, stirring frequently, until softened but not browned. Add the rest of the oil, then the peppers and cook for another 5 minutes.
↵
↵Add the chorizo, sun-dried tomatoes and garlic and cook for 2-3 minutes. Add the rice, stirring to ensure it is well coated in the oil. Stir in the tomato paste, paprika, bay leaves and chopped thyme. Pour in the stock and wine. When the liquid starts to bubble, turn the heat down to a gentle simmer. Press the rice down into the liquid if it isn't already submerged and place the chicken on top. Add the lemon wedges and olives around the chicken.
↵
↵Cover and cook in the oven for 50 minutes. The rice should be cooked but still have some bite, and the chicken should have juices that run clear when pierced in the thickest part with a knife. If not, cook for another 5 minutes and check again."
strMeal: "Chicken Basquaise"
strMealThumb: "https://www.themealdb.com/images/media/meals/wruvqv1511880994.jpg"
strMeasure1: "1.5kg"
strMeasure2: "25g"
strMeasure3: "6 tblsp"
strMeasure4: "2 sliced"
strMeasure5: "3 Large"
strMeasure6: "130g"
strMeasure7: "8"
strMeasure8: "6 cloves sliced"
strMeasure9: "300g"
strMeasure10: "drizzle"
strMeasure11: "½ tsp"
strMeasure12: "4"
strMeasure13: "Handful"
strMeasure14: "350ml"
strMeasure15: "180g"
strMeasure16: "2"
strMeasure17: "100g "
strMeasure18: "to serve"
strMeasure19: "to serve"
strMeasure20: ""
strSource: "https://www.rivercottage.net/recipes/chicken-basquaise"
strTags: "Meat"
strYoutube: "https://www.youtube.com/watch?v=emfm6TwsVhg" -->