<div class="text-center container">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/h1.jpg" height="100px;"class="height:100px;" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert-danger alert">
        Charming + Funny + Smartness + Miss Cute :D<br>
        <b>SOMMER BAREEN</b>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let img of img_arr">
        <img class="img-fluid" src="assets/s{{img}}.jpg" alt="">
      </div>
  </div>
</div>