<div class="pt-2 pb-2 rounded-0 jumbotron alert-warning border">
    <div class="container">
        <h3 class="text-center">Latest Meals</h3>
        <owl-carousel
        [options]="{navigation: false, loop:true, dots: true, margin:14,
            responsive:{ '0':{ items: 1 }, '600':{ items: 3 }, '1000':{ items: 4 } }}"
        [items]="latestRecipe"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let item of latestRecipe">
            <a [routerLink]="['/meal/',item.idMeal]"><img src="{{item.strMealThumb}}" alt=""></a>
            <h3 class="text-center float-bottom">{{item.strMeal}}</h3>
        </div>
        </owl-carousel>
    </div>
</div>
<div class="pt-2 pb-2 rounded-0 alert-success jumbotron border">
    <div class="container">
        <h3 class="text-center">Recommended Meals</h3>
        <owl-carousel
        [options]="{navigation: false, loop:true, dots: true, margin:14,
            responsive:{ '0':{ items: 1 }, '600':{ items: 3 }, '1000':{ items: 4 } }}"
        [items]="recommendedRecipe"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let item of recommendedRecipe">
            <a [routerLink]="['/meal/',item.idMeal]"><img src="{{item.strMealThumb}}" alt=""></a>
            <h3 class="text-center float-bottom">{{item.strMeal}}</h3>
        </div>
        </owl-carousel>
    </div>
</div>
<div class="pt-2 pb-2 rounded-0 alert-info jumbotron border">
    <div class="container">
        <h3 class="text-center">Favourite Meals</h3>
        <owl-carousel
        [options]="{navigation: false, loop:true, dots: true, margin:14,
            responsive:{ '0':{ items: 1 }, '600':{ items: 3 }, '1000':{ items: 4 } }}"
        [items]="favouriteRecipeDetails"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let item of favouriteRecipeDetails">
            <a [routerLink]="['/meal/',item.idMeal]"><img src="{{item.strMealThumb}}" alt=""></a>
            <h3 class="text-center float-bottom">{{item.strMeal}}</h3>
        </div>
        </owl-carousel>
    </div>
</div>
