<div id="welcome-box"class="jumbotron rounded-0 bg-white text-center mb-0">
  
  
  
  <form action="" class="col-lg-6 offset-lg-3">
    <div class="row text-white p-2 bg-warning" style="border-radius:5px 5px 0 0;display:inline-block">
      <h2>Food and Budget Management</h2>
    </div>
    <div class="row border border-dark rounded" style="overflow:hidden;">
      <div class="col-lg-6">
        <img src="assets/img/bg/food_center.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 bg-dark text-white ">
        <p class="p-2 text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat illum porro quam distinctio dolore non blanditiis ea provident ullam deleniti. Cumque consequatur qui, quis culpa blanditiis dolor reiciendis cum quos.</p>
      </div>
    </div>
    <hr class="my-2">
    <div class="row">
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Search Food Recipe">
        <div class="input-group-append">
          <button class="btn btn-success" type="button"><i class="fa fa-search fa-2x"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <img src="assets/img/bg/dinner-dish1000.jpeg" class="img-fluid" style="width:100%;">
</div>
