<!-- <app-carousel></app-carousel> -->
<div id="welcome-box"class="jumbotron rounded-0 p-5 bg-white text-center" style="background-color:rgb(236, 211, 128) !important; background-position:center;background-attachment:fixed; background-size:100% 100%;background-image:url('assets/img/vol1.png')">
  <form action="" class="col-lg-6 offset-lg-3 p-5 mb-5 mt-5">
    <div class="row mb-5">
      <div class="input-group m-5 pb-5">
        <input type="text" class="form-control form-control-lg" placeholder="Search Food Recipe">
        <div class="input-group-append">
          <button class="btn btn-success" type="button"><i class="fa fa-search fa-2x"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="welcome-box"class="jumbotron rounded-0 bg-white text-center mb-0" >
  <div class="col-lg-6 offset-lg-3">
    <div class="row text-white p-2 bg-warning" style="border-radius:5px 5px 0 0;display:inline-block">
      <h2>Food and Budget Management</h2>
    </div>
    <div class="row border border-dark rounded" style="overflow:hidden;">
      <div class="col-lg-6">
        <img src="assets/img/bg/food_center.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 bg-dark text-white ">
        <p class="p-2 text-left ubuntu">
          You face problem in cooking Food? Get access to the 1000s of Meals recipe popular across the World. Search for the preferred genre, area, categories of food out of all meals we provide here. 
        </p>
      </div>
    </div>
    <hr class="my-2">
    <div class="row">
      <!-- <div class="col-md-12">
            <ng-select 
              [(ngModel)]="strSearchArr"
              [items]="allMeals"
              bindLabel="strMeal"
              placeholder="Search Meal of Your choice"
              [virtualScroll]="true"
              (change)="getMeal();"
              style="padding:12px;border:1px solid #ccc"
              >
            </ng-select>
            <div class="input-group-append">
              <button class="btn btn-success" (click)="goToSearch()" type="button"><i class="fa fa-search"></i></button>
            </div>
      </div> -->
      <div class="input-group">
        <input [(ngModel)]="strSearch" type="text" class="form-control form-control-lg" placeholder="Search Food Recipe">
        <div class="input-group-append">
          <button class="btn btn-success" (click)="goToSearch()" type="button"><i class="fa fa-search fa-2x"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 alert-warning p-5">
      <div class="col-md-6 offset-md-3 text-center">
        <h3>Want to get Recommendations?</h3>
        <a [routerLink]="['register']"class="btn btn-warning btn-lg">Get Connected</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 bg-success">
      <img src="assets/img/food_wall.jpg" class="img-fluid"alt="">
    </div>
    <div class="col-md-6 bg-success text-white p-4 ubuntu">
      <h4>Our mission is all about to assist people who 
        live alone and have to do their cooking, budget management 
        for food and related daily stuffs. By using our website 
        you will be able to access specially organized recipes for 
        you and manage your budget for food and consumable products 
        within date you provide us with. Our target audiences are 
        mostly international students and the people who have mobile 
        jobs or work in different countries.</h4>
    </div>
  </div>
</div>
<div>
  <img src="assets/img/bg/dinner-dish1000.jpeg" class="img-fluid" style="width:100%;">
</div>
